# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
# /yarn.lock
# yarn.lock
# package-lock.json
# /yarn.lock
# /package-lock.json

# production
**/dist

# misc
.DS_Store
.idea
.vscode
.svn
.git
# .npmrc
# .yarnrc

winCodeSign-2.6.0
wine-4.0.1-mac
.log
plu.exe
